<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en-us'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en-us'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en-us'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en-us'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en-us'}}"> <!--<![endif]-->
<head>
<title>{{=response.title or request.application}}</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
	   
  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="mY_fH5SdAWym4eqztm2kbJwHm5-2g5kkfGmVJDdG_Ug" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <!-- <script src="{{=URL('static','js/modernizr.custom.js')}}"></script> -->

  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/bootstrap.min.css'))
  #response.files.insert(2,URL('static','css/bootstrap-theme.min.css'))
  #response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  #response.files.insert(4,URL('static','css/web2py.css'))
  response.files.insert(5,URL('static','css/magnific-popup.css'))
  response.files.insert(5,URL('static','css/my.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

  <!-- uncomment here to load jquery-ui
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
       uncomment to load jquery-ui //-->
  <!-- <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript> -->
  {{block head}}{{end}}
</head>

<body>
<div class="flash">{{=response.flash or ''}}</div>
  <!-- Navbar ================================================== -->
          <nav class="navbar navbar-inverse" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            {{=response.logo}}
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{=T.get_possible_languages_info()[T.accepted_language][1]}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
{{for langinfo in sorted([(code,info[1]) for code,info in T.get_possible_languages_info().iteritems() if code != 'default']):
 if T.accepted_language!=langinfo[0]:
  request.uri_language=langinfo[0]
}}
<li><a rel="nofollow"  href="{{=URL(request.function, args=request.args)}}">{{=langinfo[1]}}</a></li>
{{pass}}
{{pass}}
                </ul>
              </li>
              <li class="dropdown">
{{
request.uri_language = T.accepted_language
if auth.user_id:
 auth_title = "%s"%auth.user.first_name
else:
 auth_title = T("Login")
pass
}}
                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{=auth_title}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
{{if auth.user_id:}}
                  <li><a href="{{=URL('user', 'profile', vars={'_next':request.env.path_info})}}"><span class="glyphicon glyphicon-user"></span> {{=T("Profile")}}</a></li>
                  <li><a href="{{=URL('user', 'change_password', vars={'_next':request.env.path_info})}}"><span class="glyphicon glyphicon-lock"></span> {{=T("Password")}}</a></li>
                  <li class="divider"></li>
                  <li><a href="{{=URL('user', 'logout', vars={'_next':request.env.path_info})}}"><span class="glyphicon glyphicon-off"></span> {{=T("Logout")}}</a></li>
{{else:}}
                  <li><a href="{{=URL('user', 'register', vars={'_next':request.env.path_info})}}"><span class="glyphicon glyphicon-user"></span> {{=T("Register")}}</a></li>
                  <li><a href="{{=URL('user', 'request_reset_password', vars={'_next':request.env.path_info})}}"><span class="glyphicon glyphicon-lock"></span> {{=T("Lost password?")}}</a></li>
                  <li class="divider"></li>
                  <li><a href="{{=URL('user', 'login', vars={'_next':request.env.path_info})}}"><span class="glyphicon glyphicon-off"></span> {{=T("Login")}}</a></li>
{{pass}}

                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
  <div class="container">
    <!-- Masthead ================================================== -->
<!--    <header class="mastheader row" id="header">
        <div class="span12">
            <div class="page-header">
                <h1>
                    {{=response.title or request.application}}
                    <small>{{=response.subtitle or ''}}</small>
                </h1>
            </div>
        </div>
    </header> -->

    <section id="main" class="main row">
        {{if left_sidebar_enabled:}}
        <div class="span3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}

        <div class="{{=middle_columns}}">
            {{block center}}
            {{include}}
            {{end}}
        </div>

        {{if right_sidebar_enabled:}}
        <div class="span3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}
    </section><!--/main-->

    <!-- Footer ================================================== -->
    <!-- <div class="row"> -->
    <!--     <footer class="footer span12" id="footer"> -->
    <!--         <div class="footer-content"> -->
    <!--             {{block footer}} <\!-- this is default footer -\-> -->
    <!--             {{end}} -->
    <!--         </div> -->
    <!--     </footer> -->
    <!-- </div> -->
                <hr />
                <div style="text-align: center;">
                {{if hasattr(T,'get_possible_languages_info'):}}
		  <div>
<!-- <span style="font-weight: bold; vertical-align: middle; margin: 0 0 10px; display: inline-block;">Lang: </span> -->
<span>{{=T("Language: ")}}</span>
<!-- <select style="width: 9em;" name="adminlanguage" onchange="var date = new Date();cookieDate=date.setTime(date.getTime()+(100*24*60*60*1000));document.cookie='adminLanguage='+this.options[this.selectedIndex].id+'; expires='+cookieDate+'; path=/';window.location.reload()"> -->
<!--                     {{for langinfo in sorted([(code,info[1]) for code,info in T.get_possible_languages_info().iteritems() if code != 'default']):}} -->
<!--                     <option {{=T.accepted_language==langinfo[0] and 'selected' or ''}} {{='id='+langinfo[0]}} >{{=langinfo[1]}}</option> -->
<!--                     {{pass}} -->
<!--                 </select> -->
|
{{for langinfo in sorted([(code,info[1]) for code,info in T.get_possible_languages_info().iteritems() if code != 'default']):}}
<span>
{{if T.accepted_language==langinfo[0]:}}
<b>{{=langinfo[1]}}</b>
{{else:}}
{{request.uri_language=langinfo[0]}}
<a href="{{=URL(request.function, args=request.args)}}">{{=langinfo[1]}}</a>
{{pass}}
| </span>
{{pass}}
</div>
                {{else:}}
		{{pass}}
          <div>
                   <a href="https://www.facebook.com/ArabicTest">facebook</a> |
                   <a href="https://twitter.com/ArabicTestWeb">twitter</a> |
                   <a href="https://plus.google.com/106911838910804960287">G+</a>
		  </div>
		</div>
<!-- <div style="clear: both;"></div> -->


  </div> <!-- /container -->
  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/jquery.js')}}"></script>
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <!-- <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script> -->
  <script src="{{=URL('static','js/bootstrap-hover-dropdown.min.js')}}"></script>
  <script src="{{=URL('static','js/jquery.magnific-popup.js')}}"></script>
  <!-- <script src="{{=URL('static','js/web2py.js')}}"></script> -->
  <script src="{{=URL('static','js/myscript.js')}}"></script>
  <script src="{{=URL('static','js/test.js')}}"></script>
  <script>
{{if request.jscode:}}
{{=XML(request.jscode)}}
{{pass}}
    </script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
  {{if response.google_analytics_id:}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{=response.google_analytics_id}}', 'auto');
  ga('send', 'pageview');

</script>
  {{pass}}
  <script src="{{=response.SHAREURL}}"></script>
</body>
</html>
