{{if not auth.user_id:
    vars = {"_next": request.env.request_uri}
    login=A(T('login##login-alert'), _href=URL('default', 'user', args=['login'], vars=vars))
    register=A(T('register##login-alert'), _href=URL('default', 'user', args=['register'], vars=vars))
}}
<div style="text-align:center;width:100%;margin:0;padding:0;">
  <div class="alert-danger" style="border-radius:4px;margin: 0 auto;max-width:{{=h.MAX_WIDTH}}em;">{{=T("Please")}} {{=login}} {{=T("or")}} {{=register}} {{=T("in order to save your test results")}}</div>
</div>
{{pass}}
