{{extend 'layout.html'}}
<div class="mycontainer">
{{include 'login-alert.html'}}
{{if 'message' in globals():}}
{{=message}}
<!-- </div> -->
{{pass}}
 <div style="text-align:center;width:100%;display:table-cell;float:left;margin:0;padding:0;">
    {{=body}}
 </div>
</div>

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
{{end}}
