{{extend 'layout.html'}}
<div class="mycontainer">
{{include 'login-alert.html'}}
{{if 'message' in globals():}}
{{=message}}
<!-- </div> -->
{{pass}}
 <div class="text-center">
<h6><strong>{{=title}}</strong></h6>
 <p>{{=links}}</p>
 </div>
</div>

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
{{end}}
