{{extend 'layout.html'}}
<div class="mycontainer">
{{=breadcrumb}}
{{include 'login-alert.html'}}
<div style="text-align: center; width: 20em; margin: 0 auto;">
  <br/>
  {{=T("Final score:")}}
  <br/>
  <div style="width:3em;margin:auto;">
    <div id="col1" style="float:left">
      <span style="color:#98FB98">✔</span>:<br />
      <span style="color:red">✘</span>:<br />
    </div>
    <div id="col2" style="float:right;text-align:right">
      {{=c}}<br />
      {{=inc}}<br />
    </div>
    <div style="clear:both;"></div>
  </div
  <br/>
  {{=p}}%
  <br/>
{{if p >= h.PASS_TRESHOLD:}}
 <div class="alert alert-success title">
  {{=T("Congratulations, you've passed the test!")}}
  {{=h._next_test_link()}}
 </div>
 <br />{{=h._go_button()}}
{{else:}}
 <div class="alert alert-danger title">
  {{=T("Unfortunately, you didn't pass the test.")}}
  {{=T("Your score was below %d%%.")%h.PASS_TRESHOLD}}
 </div>
 <br />{{=h._retake_button()}}
{{pass}}
</div>
<br />
<p>{{include 'login-alert.html'}}</p>
