{{extend 'layout.html'}}
<script src="{{=URL('static','js/angular.min.js')}}"></script>
<script src="{{=URL('static','js/angular-animate.min.js')}}"></script>
<script src="{{=URL('static','js/angular-route.min.js')}}"></script>
<script>
var app = angular.module("quizapp", ['ngRoute', 'ngAnimate'], function($interpolateProvider) {
    // set custom delimiters for angular templates
    $interpolateProvider.startSymbol('{!');
    $interpolateProvider.endSymbol('!}');
});

app.controller("QuizController", ['$scope', '$interval', '$timeout', '$http', function($scope, $interval, $timeout, $http) {

TIME = 1000;

$scope.myinit = function() {
    $scope.phrases = {{=XML(json.dumps(table))}};
    $scope.translations = {{=XML(json.dumps(translations))}};

    $scope.correct = 0;
    $scope.incorrect = 0;

    $scope.answered = [];
    $scope.total = $scope.phrases.length;
    $scope.phrases_remaining = range($scope.total);
    $scope.remaining = $scope.total;
    $scope.question_number = 1;

    text_correct = {{=XML(json.dumps(T("Correct!", lazy=False)))}};
    text_wrong = {{=XML(json.dumps(T("Wrong!", lazy=False)))}};
    $scope.text = text_correct;

    $scope.newquestion();

    $scope.phrase_class = "";
    $scope.popup_class = "btn-success";
    $scope.question_number = 1;
    $scope.phrase_class += " center";

    var url = document.URL;
    if (url.endsWith("/")){url = url.slice(1, url.length-1)}
    if (url.endsWith("-inverted")) {
        $scope.phrase_class += " non-arabic-phrase";
        $scope.button_class = " arabic-font text-right";
    } else {
        $scope.phrase_class += " arabic-phrase";
        $scope.button_class = " text-left";
    }

    $('#quiz-container').addClass('opacity0');
    $timeout(function(){
        $timeout(function() {
            $('#quiz-container').removeClass('opacity0');
        }, TIME/4);
    });
}

$scope.generate_choices = function (index) {
    matches = [];
    translation_matches = [];
    non_matches = [];
    phrase = $scope.phrases[index];
    for (var i = 0; i < $scope.total; i++) {
        x = $scope.phrases[i];
        if (x === phrase) {
            matches.push(i);
            translation_matches.push($scope.translations[i]);
        }
    }
    // We have to go through the list twice because
    // we need to know all the matches in advance before
    // second loop
    for (var i = 0; i < $scope.total; i++) {
        if (!matches.contains(i) && !translation_matches.contains($scope.translations[i])) {
            non_matches.push(i);
            translation_matches.push($scope.translations[i]);
        }
    }
    choices = [index];
    for (var i = 0; i < {{=h.ANSWER_CHOICES}} - 1; i++) { // We have at most N suggested answers
        _choice = random_choice(non_matches);
        choices.push(_choice);
        non_matches.remove(_choice);
    }
    random_shuffle(choices);
    return choices;
};

$scope.newquestion = function(){
    $scope.answered.push($scope.index);
    $scope.phrases_remaining.remove($scope.index);

    $scope.index = random_choice($scope.phrases_remaining);
    $scope.phrase = $scope.phrases[$scope.index];
    $scope.choices = $scope.generate_choices($scope.index);
    for (i=0; i < $scope.total; i++){
        if ( $scope.choices[i] === $scope.index){
            $scope.correct_choice = i;
            break;
        }
    }
    $scope.numbers = range(choices.length);
    $scope.question_number += 1;
    };

$scope.myanimate = function(animate_elements){
    for (i=0;i<animate_elements.length;i++){
        el = animate_elements[i];
        $(el).addClass('opacity0');
    };

    $timeout(function() {
    for (i=0;i<animate_elements.length;i++){
        el = animate_elements[i];
        $(el).removeClass('opacity0');
    };
    }, TIME/2);
};

$scope.myclick = function (i) {
    animate_elements = ["#myphrase"];
    $scope.button_clicked = true;
    pick = $scope.choices[i];
    var btn = '#btn'+i;
    $(btn).blur();
    var class_;
    if (pick === $scope.index){
        class_ = 'btn-success';
        $scope.correct += 1;
        badge = '#badge-correct';
    } else {
        class_ = 'btn-danger';
        $scope.incorrect += 1;
        badge = '#badge-incorrect';
        /* We have to add the btn-sucess class to the button with
        the correct answer */
        var btn_c = '#btn' + $scope.correct_choice;
        $(btn_c).addClass('btn-success');
        $timeout(function() {
            $(btn_c).removeClass('btn-success');
        }, TIME/2);

    }

    animate_elements.push(badge);
    $scope.total_running = $scope.correct + $scope.incorrect;
    $scope.percentage = (100*$scope.correct/$scope.total_running).toFixed(2);

    $(btn).removeClass("btn-mydefault");
    $(btn).addClass(class_);
    $timeout(function() {
        $(btn).removeClass(class_);
        $(btn).addClass("btn-mydefault");
    }, TIME/2);

    $scope.myanimate(animate_elements);

    $timeout(function() {
//        if (($scope.total - $scope.correct - $scope.incorrect) === 0) {
//            $scope.test_visible = false;
//            var link = "{{=XML(link_next)}}";
//            if (link === "None"){
//                window.location = '{{=XML(URL("results"))}}';
//            } else {
//                window.location = link; // window.location;
//            }
//        } else {
            $scope.newquestion();
            $scope.button_clicked = false;
            $scope.remaining = $scope.total - $scope.correct - $scope.incorrect;

            if ($scope.remaining === 0) $scope.submit_result();
//        }
    }, TIME);
//    $('#quiz-container').click();
//    $('#quiz-container').blur();
//    $(btn).blur();
    $timeout(function() {
        $(btn).addClass("hover");
        $(btn).removeClass("hover");

//        $("myphrase").mouseover();
//        $("myphrase").click();
//        $("myphrase").focus();
    }, 2*TIME);

};

$scope.mymouseenter = function(i) {
    $('#btn'+i).removeClass('btn-mydefault');
};

$scope.mymouseleave = function(i) {
    $('#btn'+i).addClass('btn-mydefault');
};

$scope.submit_result = function() {
    $scope.check_result_finished = false;
    $scope.check_result_finished_correctly = false;
    $http({method: 'GET', url: '{{=check_result_link}}/' + $scope.percentage}).
        success(function (data, status, headers, config) {
            // this callback will be called asynchronously
            // when the response is available
            $scope.next_test_dict = angular.fromJson(data);
            $timeout(function() {
                $scope.check_result_finished = true;
            }, TIME);
            $scope.check_result_finished_correctly = true;
        }).
        error(function (data, status, headers, config) {
            // called asynchronously if an error occurs
            // or server returns response with an error status.
            $timeout(function() {
                $scope.check_result_finished = true;
            }, TIME);
        });
}

$scope.skip = function() {
    window.location = "{{=XML(URL('skip', args=request.args))}}";
}

}]);
</script>
<div class="mycontainer" ng-app="quizapp" >
 <div>{{include 'login-alert.html'}}</div>
 {{#include 'sarfi/test_title.html'}}
 <div style="text-align: left; width: 20em; margin: 0 auto; min-height: 12em" ng-controller="QuizController as quiz">
  <div id="quiz-container" style="width:100%;background:white;" class="my-question-animate ng-cloak" ng-init="myinit()">
   <div ng-if="remaining > 0">
    <div class="title">
     <div class="intitle"><span class="badge my-question-animate" id="badge-question-test">{{=T("T%d")%(i+1)}}-{{=T("Q")}}{!question_number!}</span> {{=T("Pick the correct translation for")}}...</div>
     <div id="myphrase" class="{!phrase_class!} my-question-animate">{!phrase!}</div>
    </div>
    <div ng-repeat="i in numbers">
     <button id="btn{!i!}" ng-disabled="button_clicked" ng-click="myclick(i)" class="width100 btn btn-lg btn-default btn-myanswer {!button_class!}" ng-mouseenter="mymouseenter(i)" ng-mouseleave="mymouseleave(i)">
      {!i+1!}. {!translations[choices[i]]!}
     </button>
    </div>
    <div class="text-center">
  	 {{=T("Score")}}
  	 <span id="badge-correct" class="my-question-animate" style="color:green">{!correct!} <span class="glyphicon glyphicon-ok"></span></span>
  	 <span id="badge-incorrect" class="my-question-animate" style="color:red">{!incorrect!} <span class="glyphicon glyphicon-remove"></span></span>
  	 {!remaining!} {{=T("remaining")}}<br />
     <span>{{=T("Too easy?")}} <button class="btn btn-primary" ng-click="skip()">{{=T("Next test")}}!<span class="glyphicon glyphicon-step-forward"></span></button></span>
    </div>
   </div>
   <div ng-show="remaining === 0 && check_result_finished === false" class="score-animate text-center">
    {{=T("Submitting the result...")}}
   </div>
   <div ng-if="remaining === 0 && check_result_finished === true" style="text-align: center;">
    <div ng-show="check_result_finished_correctly" class="score-animate">
     <h1>{{=T("Final score:")}}</h1>
     <div style="width:3em;margin:auto;">
      <div id="col1" style="text-align:right">
        <span style="color:green">{!correct!} <span class="glyphicon glyphicon-ok"></span></span><br />
        <span style="color:red">{!incorrect!} <span class="glyphicon glyphicon-remove"></span></span><br />
      </div>
      <div style="clear:both;"></div>
     </div>
     <br />
     <div class="btn btn-info btn-my-margin">{!percentage!}%</div>
     <div ng-if="percentage >= {{=h.PASS_TRESHOLD}}">
      <div class="alert alert-success title">
       {{=T("Congratulations, you've passed the test!")}}<br/>
       {{=T("Your next task is")}}:<br/>
       <a href="{!next_test_dict['url']!}">{!next_test_dict["name"]!}</a>
      </div>
      <a href="{!next_test_dict['url']!}" class="btn btn-success btn-large btn-my-margin">
       <h4>{{=T("Go to")}} {{=T("Test")}} {!next_test_dict['i']!}</h4>
      </a>
      <br/>
      <a href="{{=h._current_url()}}">{{=T("...or repeat this test!")}}</a>
      <br/>
      <a href="{{=h._current_url()}}" class="btn btn-info btn-my-margin">
       <span class="glyphicon glyphicon-repeat"></span>
      </a>
     </div>

     <div ng-if="percentage < {{=h.PASS_TRESHOLD}}">
      <div class="alert alert-danger title">
       {{=T("Unfortunately, you didn't pass the test.")}}
       {{=T("Your score was below %d%%.")%h.PASS_TRESHOLD}}
      </div>
      <a href="{!window.location!}" class="btn btn-danger btn-large btn-my-margin">
       <h4>{{=T("Retake test!")}}</h4>
      </a>
     </div>
    </div>
    <div ng-hide="check_result_finished_correctly" class="alert alert-danger btn-my-margin score-animate">
     {{=T("There was some error when trying to submit your score.")}}
     <br /><button ng-click="check_result_finished=false;submit_result()" class="btn btn-info">{{=T("Resubmit!")}}</button>
    </div>
   </div>

  </div>
 </div>
 {{=breadcrumb}}
</div>

<a href="#test-popup" id="open-popup-link" style="display:none;">{{=T("Show inline popup")}}</a>
<div id="test-popup" class="white-popup mfp-hide text-center" style="max-width:{{=h.MAX_WIDTH/2}}em">
 <div class="" style="display:inline-block;padding:4px;">
  <a id="btn-popup" class="btn {!popup_class!} popup-hover" href="{{=request.env.request_uri}}">{!text!}</a>
 </div>
</div>

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
{{end}}
