<div style="margin-bottom:1px;"> <h6><strong>{{=test_title}}</strong></h6>
{{if current_result:}}
<div style="text-align:center">
<!-- <div class="{{=test_title_class}}" style="max-width:20em;margin:0 auto;"> -->
<!-- {{=T("Best result till now:")}} {{="%d%%"%current_result}} -->
<!-- </div> -->
</div>
{{pass}}
</div>
