div.mycontainer {
    text-align: center;
}

div.flash {
    font-weight:bold;
    display:none;
    position:fixed;
    padding:10px;
    top:48px;
    right:250px;
    min-width:280px;
    max-width:350px;
    opacity:0.95;
    margin:0px 0px 10px 10px;
    vertical-align:middle;
    cursor:pointer;
    color:#fff;
    background-color:#000;
    border:2px solid #fff;
    border-radius:8px;
    -o-border-radius: 8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background-image: -webkit-linear-gradient(top,#222,#000);
    background-image: -o-linear-gradient(top,#222,#000);
    background-image: -moz-linear-gradient(90deg, #222, #000);
    background-image: linear-gradient(top,#222,#000);
    background-repeat: repeat-x;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    z-index:2000;
}

div.flash #closeflash{color:inherit; float:right; margin-left:15px;}
.ie-lte7  div.flash #closeflash
{color:expression(this.parentNode.currentStyle['color']);float:none;position:absolute;right:4px;}

div.flash:hover { opacity:0.25; }


div.flash {
position:fixed;
right: 0;
left: 0;
margin-right: auto;
margin-left: auto;
min-width:0px;
max-width:100%;
width:10em;
text-align:center;
opacity:0.70;
}

.table-result {
float:left;
border-collapse:separate;
border:2px solid;
padding:10px;
margin:0 auto;
border-color:#7fe0f8;
/* background-image: -webkit-linear-gradient(left,#0082c8, #7fe0f8); */
/* background-image: -o-linear-gradient(left,#0082c8, #7fe0f8); */
/* background-image: -moz-linear-gradient(0deg,#0082c8, #7fe0f8);; */
/* background-image: linear-gradient(left,#0082c8, #7fe0f8); */
/* background-repeat: repeat-y; */
border-radius: 8px;
    	-o-border-radius: 8px;
    	-moz-border-radius: 8px;
    	-webkit-border-radius: 8px;
}

.table-result td{
vertical-align:middle;
margin:auto;
border:2px solid;
border-color:white;
border-radius: 8px;
  	-o-border-radius: 8px;
  	-moz-border-radius: 8px;
  	-webkit-border-radius: 8px;
}

th.th-header {
vertical-align:middle;
/* margin:auto; */
border:2px solid;
border-color:white;
background:#7fe0f8;
/* background-image: -webkit-linear-gradient(left,#0082c8, #7fe0f8); */
/* background-image: -o-linear-gradient(left,#0082c8, #7fe0f8); */
/* background-image: -moz-linear-gradient(0deg,#0082c8, #7fe0f8);; */
/* background-image: linear-gradient(left,#0082c8, #7fe0f8); */
/* background-repeat: repeat-y; */
border-radius: 8px;
    	-o-border-radius: 8px;
    	-moz-border-radius: 8px;
    	-webkit-border-radius: 8px;
border-collapse: separate;
}

.correct {
    /* background: #00FF7F; */
    /* border: 1px solid #200; */
    color:white;
    padding:1px;
    margin:1px;
    /* background-image: -webkit-linear-gradient(left,#58CA43,#62C462); */
    /* background-image: -o-linear-gradient(left,#58CA43,#62C462); */
    /* background-image: -moz-linear-gradient(0deg,#58CA43,#62C462); */
    /* background-image: linear-gradient(left,#58CA43,#62C462); */
    /* background-repeat: repeat-y; */
    border-radius: 4px;
  	-o-border-radius: 4px;
  	-moz-border-radius: 4px;
  	-webkit-border-radius: 4px;
}

.correct, .correct-button {
    /* display:inline-block; */
    background: #62C462;
}


div.title {
/* min-height: 6em; */
/* display: inline-block; */
/* position:relative */

/* background: green; */
/* width: 300px; */
/* height: 200px; */
text-align: center;
margin: 0 auto;
padding: 0.1em;
/* margin-bottom:0.8em; */
display: table; 
/* margin-top: 1em; */
/* font-weight: bold; */
/* display: table-cell; */
/* display: inline-block; */
/* text-align: center; */
/* float: center; */
/* height: 3em; */
min-width: 19em;
/* margin-left: auto; */
/* margin-right: auto; */
/* display: table-cell; */
/* vertical-align: middle; */
}

div.intitle
{
/* display: table-cell; */
text-align: center;
vertical-align: middle
}

.normal {
    background: #0082c8;
    /* border: 1px solid #200; */
    color:white;
    padding:1px;
    display:inline-block;
    background-image: -webkit-linear-gradient(left,#0082c8, #7fe0f8);
    background-image: -o-linear-gradient(left,#0082c8, #7fe0f8);
    background-image: -moz-linear-gradient(0deg,#0082c8, #7fe0f8);;
    background-image: linear-gradient(left,#0082c8, #7fe0f8);
    background-repeat: repeat-y;
    border-radius: 4px;
    	-o-border-radius: 4px;
    	-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;

    /* padding: 10px 20px; */
    /* background: -moz-linear-gradient( */
    /* 	top, */
    /* 	#0082c8 0%, */
    /* 	#7fc0e3); */
    /* background: -webkit-gradient( */
    /* 	linear, left top, left bottom,  */
    /* 	from(#0082c8), */
    /* 	to(#7fc0e3)); */
    /* -moz-border-radius: 4px; */
    /* -webkit-border-radius: 4px; */
    /* border-radius: 4px; */
    /* border: 1px solid #005380; */

}

div.normal a {
color: black;
}


@font-face {
  font-family: 'Scheherazade';
  font-style: normal;
  font-weight: normal;
  src: local('Scheherazade'),
       url('fonts/scheherazade/ScheherazadeRegOT.eot#') format('eot'),
       url('fonts/scheherazade/ScheherazadeRegOT.woff') format('woff'),
       url('fonts/scheherazade/ScheherazadeRegOT.ttf') format('truetype'),
       url('fonts/scheherazade/ScheherazadeRegOT.svg#webfontegrLi3sm') format('svg');
}

/* @import url(http://fonts.googleapis.com/earlyaccess/scheherazade.css); */
/* @import url(http://fonts.googleapis.com/earlyaccess/thabit.css); */

.arabic-phrase, .arabic-font {
/* font-family: 'Scheherazade', 'Droid Arabic Naskh'; */

font-family: Scheherazade, Traditional Arabic, Droid Arabic Kufi, Droid Sans Mono;
direction: rtl;
unicode-bidi:bidi-override;
}

.arabic-phrase {
font-size:4em;
line-height: 1.1em;
float:center;
text-align: center;
margin: 0.1em;
}

.width100 {
width: 100%;
white-space: normal;
}

input.arabic-font,
.btn-myanswer.arabic-font
{
font-size:2em;
line-height: 1.5em;
padding: 0 0.2em;
width:100%;
}

.non-arabic-phrase {
/* display: block; */
font-weight:bold;
line-height: 40px;
float:center;
text-align: center;
font-size:2em;
margin: 0 auto;
/* margin-bottom: 0.3em; */
}

td span.answer {
padding-left: 5px;
}

.myerror, .error {
    /* width: 298px; */
    /* border: 1px solid #d00; */
    padding:1px;
    margin:1px;
    /* display:inline-block; */
    /* background-image: -webkit-linear-gradient(left,#f00,#faa); */
    /* background-image: -o-linear-gradient(left,#f00,#faa); */
    /* background-image: -moz-linear-gradient(0deg, #f00, #faa); */
    /* background-image: linear-gradient(left,#f00,#faa); */
    /* background-repeat: repeat-y; */
    border-radius: 4px;
  	-o-border-radius: 4px;
  	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.myerror, .error, .error-button{
    background: #f55;
    color:white;
}

.myerror a, .error a {color:white;}

.login-alert {
    background: #faa;
    border-width:1px;
    border-color:#f55;
    border-style:solid;
    border-radius: 8px;
  	-o-border-radius: 8px;
  	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;

}

#web2py_user_form form{
text-align: center;
margin-left: 5px;
}

#web2py_user_form form table{
margin: auto;
text-align: left;
}

.navbar{
margin-bottom:0px;
}

.breadcrumb{
margin-bottom:0px;
}

.breadcrumb li{
    vertical-align: top;
}

.white-popup {
  position: relative;
  /* background: translucent;#FFF; */
  padding: 20px;
  min-width: 0px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  /* opacity: 0.5; */
    border-radius: 8px;
  	-o-border-radius: 8px;
  	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  display:inline-block;
}

#test-popup a {
  opacity: 0.7;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.7;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-bg {
opacity: 0.7;
}

.popup-correct, .popup-error {
    opacity: 0.7;
    border-radius: 15px;
  	-o-border-radius: 15px;
  	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    /* border-width:0.4em; */
    /* border-color:transparent; */
    /* border-style:solid; */
}

.popup-correct {
background-color: #62C462;/* #73F35E; */
}

.popup-error {
background-color:#f55;
}

#test-popup:hover {
opacity: 0.5;
}

.mfp-content {
text-align: center;
vertical-align: top;
}

#btn-popup {
white-space: normal;
}


/*.ng-hide-add, .ng-hide-remove {*/
    /* ensure visibility during the transition */
    /*display: block !important; *//* yes, important */
/*}*/

/* Overriding bootsrap's default .btn text-align*/
.btn.text-right{
    text-align: right;
}

.btn.text-left{
    text-align: left;
}

.my-question-animate
{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    opacity: 1;
}

.my-question-animate.ng-hide {
    /*opacity:0;*/
}

.opacity0 {
    /*opacity: 0;*/
}

.score-animate {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    opacity: 1;
}

.score-animate.ng-hide {
    opacity:0;
    line-height:0;
}

.btn-my-margin {
    margin: 4px;
}

.btn-mydefault:hover,
.btn-mydefault:focus,
.btn-mydefault.focus,
.btn-mydefault:active,
.btn-mydefault.active,
.open > .dropdown-toggle.btn-mydefault {
  background-color: #fff;
  border-color: #ccc;
}

