{{extend 'layout.html'}}
<div class="mycontainer">
{{if 'message' in globals():}}
<!-- <div class="normal" style="width:50em; margin:auto;"> -->
{{=message}}
<!-- </div> -->
{{pass}}
{{=body}}
</div>

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
{{end}}
