{{extend 'layout.html'}}
<div class="mycontainer">
{{if 'message' in globals():}}
<!-- <div class="normal" style="width:50em; margin:auto;"> -->
{{=message}}
<!-- </div> -->
{{pass}}
<h3>Kako (na)učiti arapski jezik?</h3>
<div style="text-align: left; width: 60em; margin: 0 auto;">

</div>
</div>

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
{{end}}
