{{extend 'layout.html'}}

<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
<div id="web2py_user_form">
{{
if request.args(0)=='login':
    if not 'register' in auth.settings.actions_disabled:
        form.add_button(T('Register'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None))
    pass
    if not 'request_reset_password' in auth.settings.actions_disabled:
        form.add_button(T('Lost Password'),URL(args='request_reset_password'))
    pass
pass
for e in form.elements('input[type=submit], input[type=button]'):
    e["_class"] = "btn btn-default"
    e["_style"] = "margin-right:1px;"
pass

for i, e in enumerate(form.elements('input[type=text], input[type=password]')):
    if i == 0:
        e["_autofocus"] = ""
    pass
    e["_class"] = "form-control"
pass

for e in form.elements('input[type=checkbox]'):
    e["_class"] = ""
pass



=form
}}
</div>
<script language="javascript"><!--
jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
//--></script>

